<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar> 
    <div class="home">
        <div class="home-sec3">
            <div class="cimg-3b">
                <div class="ctext3">
                    <div class="ttitle">
                        Empieza tu viaje a una vida más feliz
                    </div>
                    <div class="tsubtitle2">
                        Conecta con cientos de profesionales que te ayudarán a llevar una vida
                            en plenitud con tu salud mental, busca y encuentra el profesional más
                            adecuado a tus necesidades y contacta de la forma prefieras.
                        <br />
                        Observa y gestionas tus citas desde un solo lugar
                        <br />
                        Contacta directamente con tu profesional o paciente
                    </div>
                    <div class="cbuttons">
                        <button class="button" id="main" [routerLink]="['/login']">Empezar</button>
                        <button class="button" id="secondary" [routerLink]="['/servicios']">Leer más</button>
                    </div>
                </div>  
            </div>
            <div class="cimg-3a">
                <img class="imgbackeveryone" src="assets/img/eldersback.svg" />
            </div>
        </div>
        <div class="home-sec2">
            <div class="cimg-2a">
                <img class="imgbackcreate" src="assets/img/backcreate.svg" />
            </div>
            <div class="cimg-2b">
                <div class="ctext2">
                    <div class="ttitle2">
                        Crea tu cuenta y accede
                        <br />
                        en minutos
                    </div>
                    <div class="tsubtitle2">
                        Crea tu cuenta con pocos, sin proporcionar más datos que tu nombre y tu
                        correo electrónico para acceder a cientos de profesionales de salud
                        mental.
                        <br/>
                        Escoge el profesional que prefieras y pide cita directamente desde la
                        aplicación.
                    </div>
                    <button class="button" id="main" [routerLink]="['/login']">Empezar</button>
                </div> 
            </div>
        </div>
        <div class="home-sec3">
            <div class="cimg-3b">
                <div class="ctext3">
                    <div class="ttitle2">
                        Para todo el mundo
                    </div>
                    <div class="tsubtitle2">
                        Si bien buscas ayuda o si eres un profesional de la salud mental, puedes
                        acceder a nuestros servicios que te ayudan a conectar con nuestros miles de
                        usuarios y profesionales.
                        <br />
                        Observa y gestionas tus citas desde un solo lugar
                        <br />
                        Selecciona el registro como profesional y empieza ya
                    </div>
                    <button class="button" id="main" [routerLink]="['/signup']">Empezar como Profesional</button>
                </div>  
            </div>
            <div class="cimg-3a">
                <img class="imgbackeveryone" src="assets/img/backeveryone.svg" />
            </div>
        </div>
    </div>
</body>
<footer>
<app-footer></app-footer>
</footer>
</html>
<router-outlet></router-outlet>