<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <app-accnavbar></app-accnavbar>
    <div class="caccount">
        <div class="cimgavatar">
            <img/>
        </div>
        <div class="cuserinfo">
            <label class="title" id="name"> Nombre: 
                <label class="subtitle" id="username"></label>
            </label>
            <label class="title" id="email"> Email: 
                <label class="subtitle" id="useremail"></label>
            </label>
            <button class="button" id="edit" type="button" onclick="editData">
                Editar Datos
            </button>
        </div>
        <div class="cappointment">
            <div class="table">
                
            </div>
        </div>
    </div>

</body>
<footer>
    <app-footer></app-footer>
</footer>
