/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
    /* Colors */
    --brandgreen:#00AF8D;
    --lightblue:#EAFCFC;
    --middleblue:#CFEBF9;
    --blue:#2C3F4E;
    --brown:#7A3909;
    --red:#E33115;
    --orange:#F48D1C;
    /* Fonts */
    --links-font-family: Spline Sans, sans-serif;
    --links-font-size: 1.875rem;
    --links-line-height: normal;
    --links-font-weight: 400;
    --links-font-style: normal;
    --largetitle-font-family: EB Garamond, sans-serif;
    --largetitle-font-size: 6rem;
    --largetitle-line-height: normal;
    --largetitle-font-weight: 700;
    --largetitle-font-style: normal;
    --title-font-family: EB Garamond, sans-serif;
    --title-font-size: 4rem;
    --title-line-height: normal;
    --title-font-weight: 700;
    --title-font-style: normal;
    --subtitle-font-family: Spline Sans, sans-serif;
    --subtitle-font-size: 2rem;
    --subtitle-line-height: normal;
    --subtitle-font-weight: 400;
    --subtitle-font-style: normal;
    --smalltext-font-family: Spline Sans, sans-serif;
    --smalltext-font-size: 1.6rem;
    --smalltext-line-height: 150%;
    --smalltext-font-weight: 400;
    --smalltext-font-style: normal;
  }
