.csign{
    background-color: var(--lightblue);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.clogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.ttitle{
    color: var(--brandgreen);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    padding-bottom: 5%;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-bottom: 5%;
}