<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="csign">
        <div class="clogin">
            <div class="ttitle">
                Cambia tu Contraseña
            </div>
            <form (submit)="updateUser()">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="email" name="email">
                    </div>
                  </div>
                <div class="mb-3">
                <label for="InputPassword" class="form-label">Nueva Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                <small id="passwordHelp" class="form-text text-muted">Al menos 8 caracteres. Debe incluir letras y números</small>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div> 
                <div *ngIf="alertSuccess" class="alert alert-success" role="alert">
                    {{ alertSuccess }}
                </div>
                <div *ngIf="alertError" class="alert alert-danger" role="alert">
                    {{ alertError }}
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</body>
