<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<div class="footer">
    <div class="c1">
      <div class="c2">
        <div class="clogo">
            <img class="imglogo" src="assets/img/LogoGrand.svg" alt="Logo Mimente" />
        </div>
        <div class="clinks">
          <div class="clink">
            <div class="tlinks">Servicios</div>
            <div class="lfooter">Para Pacientes</div>
            <div class="lfooter">Para Profesionales</div>
            <div class="lfooter">Mi cuenta</div>
          </div>
          <div class="clink">
            <div class="tlinks">Quiénes Somos</div>
            <div class="lfooter">Nuestra Misión</div>
            <div class="lfooter">Nuestro Equipo</div>
          </div>
          <div class="clink">
            <div class="tlinks">Contacto</div>
            <div class="lfooter">Enviar Mensaje</div>
            <div class="lfooter">Síguenos</div>
            <div class="lfooter">Empleo</div>
          </div>
        </div>
      </div>
      <div class="divider" src="assets/img/Divider.svg"><img class="imgdivider" src="assets/img/Divider.svg"/></div>
      <div class="cfooter">
        <div class="tmimente">
          MiMente 2024. Todos los derechos reservados
        </div>
        <div class="cfooterlinks">
          <div class="lterms">Política de Privacidad</div>
          <div class="lterms">Política de Cookies</div>
          <div class="lterms">Condiciones de Servicio</div>
        </div>
    </div>
  </div>