.ctitle{
    background-color: var(--lightblue);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-family: var(--title-font-family);
    color: var(--brandgreen);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}
.tname{
    font-family: var(--title-font-family);
    font-size: 3rem;
}
p{
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
}
label{
    font-family: var(--subtitle-font-family);
    font-weight: 500;
}
.cdetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--lightblue);
    gap: 16vh;
    padding: 6vh 16vh;
    justify-content: center;
    align-items: flex-end;
}
.container1 img{
    border-radius: 2ch;
}
.container2{
    max-width: 50%;
}

.button-outline {
    font-family: "Spline Sans", sans-serif;
    border-radius: 1ch;
    background-color: var(--lightblue);
    padding: 8px 16px;
    position: relative;
    border-style: solid;
    border-color: var(--brandgreen);
    font-size: 1rem;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
}
.button-outline:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: 0.5s;
    transform: translateY(-0.25em);
}