<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="csign">
        <div class="clogin">
            <div class="ttitle">
                Registro
            </div>
            <form (submit)="signup()">
                <div class="mb-3">
                <label for="InputName" class="form-label">Nombre:</label>
                <input type="name" class="form-control" aria-describedby="nameHelp" id="username" name="username" [(ngModel)]="username" required>
                </div>
                <div class="mb-3">
                <label for="InputEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" id="email" name="email" [(ngModel)]="email" required>
                </div>
                <div class="mb-3">
                <label for="InputPassword" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                </div>
                <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" value="false" id="professional-signup" [(ngModel)]="professional">
                <label class="form-check-label" for="reverseCheck1">
                    Soy un profesional de la salud mental
                </label>
                </div>
                <button type="submit" class="btn btn-primary" [routerLink]="['/login']">Resgistrarse</button>
            </form>
            <button class="btn btn-secondary" [routerLink]="['/login']">Iniciar Sesión</button>
        </div>
    </div>
    <app-footer></app-footer>
</body>
