<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="csign">
        <div class="clogin">
            <div class="ttitle">
                Registro
            </div>
            <form (submit)="signUp()">
                <div class="mb-3">
                <label for="InputName" class="form-label">Nombre:</label>
                <input type="name" class="form-control" aria-describedby="nameHelp" id="username" name="username" [(ngModel)]="name" required>
                </div>
                <div class="mb-3">
                <label for="InputEmail" class="form-label">Email:</label>
                <input type="email" class="form-control"  id="email" name="email" [(ngModel)]="email" required>
                </div>
                <div class="mb-3">
                <label for="InputPassword" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" [(ngModel)]="password" required>
                <small id="passwordHelp" class="form-text text-muted">Al menos 8 caracteres. Debe incluir letras y números</small>
                </div>
                <div class="form-check form-check-reverse">
                <input class="form-check-input" type="checkbox" title="Registro como Profesional" id="professional-signup" name="professional" [(ngModel)]="professional">
                <label class="form-check-label">
                    Deseo registrarme como profesional de la salud mental
                </label>
                </div>
                <button type="submit" class="primary">Resgistrarse</button>
            </form>
            <button class="secondary" [routerLink]="['/login']">Iniciar Sesión</button>
        </div>
    </div>
    <app-footer></app-footer>
</body>
