<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="csign">
        <div class="clogin">
            <div class="ttitle">
                Iniciar Sesión
            </div>
            <form (submit)="login()">
                <div class="mb-3">
                <label for="InputEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" id="email" name="email" [(ngModel)]="email" required>
                </div>
                <div class="mb-3">
                <label for="InputPassword" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                </div>
                <button type="submit" class="btn btn-primary" [routerLink]="['/account']">Iniciar Sesión</button>
            </form>
            <button class="btn btn-secondary" [routerLink]="['/signup']">Resgistrarse</button>
        </div>
    </div>
    <app-footer></app-footer>
</body>
