.navbar {
    background:var(--lightblue);
    padding: 5% 0%;
    gap: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: fit-content;
    position: relative;
    width: 100%;
    z-index: 5;
    flex-wrap: wrap;
  }
  .cnavlogo{
    flex-shrink: 0;
    width: 15.375rem;
    height: 5rem;
    position: relative;
  }
  .cnavlogo img{
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .cnavlogo:hover{
    cursor: pointer;
  }
  .cmenu {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    width: auto;
    position: relative;
    flex-wrap: wrap;
    padding: 3rem;
  }
  #appointment{
    background: var(--orange);
    
  }
  #account{
    background: var(--brandgreen);
  }
  #logout{
    background: var(--middleblue);
  }
  .button {
    font-family: "Spline Sans", sans-serif;
    border-radius: 1.5rem;
    padding: 1.625rem 3rem 1.625rem 3rem;
    position: relative;
    border-style: none;
    font-size: var(--links-font-size);
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
  }
.button:hover{
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  transition: 0.5s;
  transform: translateY(-0.25em);
}