<div class="navbar" routerLink="/home">
    <div class="cnavlogo">
        <img class="imglogo" src="assets/img/LogoGrand.svg" alt="Logo Mimente" />
    </div>
    <div class="cmenu">
        <div class="clinksmenu">
            <div routerLink="/servicios" class="lmenu">Servicios</div>
            <div routerLink="/quienes" class="lmenu">Quiénes Somos</div>
            <div routerLink="/contacto" class="lmenu">Contacto</div>
        </div>
        <button class="buttonlogin" type="button" [routerLink]="['/login']">
            Iniciar Sesión
        </button>
    </div>
</div> 
