<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="mission">
        <div class="cheroes">
            <div class="ttitle">
                Nuestra Misión
            </div>
            <div class="cmissions">
                <div class="cheroe">
                    <img class="imgheroe" src="assets/img/hands.svg"/>
                    <div class="tmission">
                        Nuestra misión es conectar a personas con los profesionales que más necesitan, 
                        con nuestro método que combina facilidad de uso con la seguridad de datos. 
                    </div>
                </div>
                <div class="cheroe">
                    <img class="imgheroe" src="assets/img/form.svg"/>
                    <div class="tmission">
                        Con solo tu email y nombre puedes acceder a miles de profesionales de 
                        salud mental desde cualquier parte del mundo. 
                    </div>
                </div>
                <div class="cheroe">
                    <img class="imgheroe" src="assets/img/surge.svg"/>
                    <div class="tmission">
                        Los profesionales pueden utilizar nuestra plataforma para 
                        lanzar y elevar sus servicios al siguiente nivel. 
                    </div>
                </div>
            </div>
        </div>
        <div class="cteam">
            <div class="ctitleteam">
                <div class="ttitle">Nuestro Equipo</div>
                <div class="tsubtitle"> Somos un equipo compuesto por persona con las máximas aptitudes</div>
            </div>
            <div class="cteam-bios">
                <div class="cteam-bio">
                    <img class="imgteam" src="assets/img/placeholder.png"/>
                    <div class="cbio">
                        <div class="ctitle-bio">
                            <div class="tname">Nombre</div>
                            <div class="tsubtitle">Título</div>
                        </div>
                        <div class="tbio">Biografia Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</div>
                    </div>
                </div>
                <div class="cteam-bio">
                    <img class="imgteam" src="assets/img/placeholder.png"/>
                    <div class="cbio">
                        <div class="ctitle-bio">
                            <div class="tname">Nombre2</div>
                            <div class="tsubtitle">Título</div>
                        </div>
                        <div class="tbio">Biografia Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</div>
                    </div>
                </div>
                <div class="cteam-bio">
                    <img class="imgteam"src="assets/img/placeholder.png"/>
                    <div class="cbio">
                        <div class="ctitle-bio">
                            <div class="tname">Nombre3</div>
                            <div class="tsubtitle">Título</div>
                        </div>
                        <div class="tbio">Biografia Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
