<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="body">
        <div class="mission">
            <div class="cheroes">
                <div class="ttitle">
                    Nuestra Misión
                </div>
                <div class="cmissions">
                    <div class="cheroe">
                        <img class="imgheroe" src="assets/img/hands.svg"/>
                        <div class="tmission">
                            Nuestra misión es conectar a personas con los profesionales que más necesitan, 
                            con nuestro método que combina facilidad de uso con la seguridad de datos. 
                        </div>
                    </div>
                    <div class="cheroe">
                        <img class="imgheroe" src="assets/img/form.svg"/>
                        <div class="tmission">
                            Con solo tu email y nombre puedes acceder a miles de profesionales de 
                            salud mental desde cualquier parte del mundo. 
                        </div>
                    </div>
                    <div class="cheroe">
                        <img class="imgheroe" src="assets/img/surge.svg"/>
                        <div class="tmission">
                            Los profesionales pueden utilizar nuestra plataforma para 
                            lanzar y elevar sus servicios al siguiente nivel. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="cteam">
                <div class="ctitleteam">
                    <div class="ttitle">Nuestro Equipo</div>
                    <div class="tmsubtitle"> Somos un equipo compuesto por persona con las máximas aptitudes</div>
                </div>
                <div class="cteam-bios">
                    <div class="cteam-bio">
                        <img class="imgteam" src="assets/img/prof1.png"/>
                        <div class="cbio">
                            <div class="ctitle-bio">
                                <div class="tname">Miguel Fernández</div>
                                <div class="tsubtitle">Dirección</div>
                            </div>
                            <div class="tbio">Licenciado en Psicología, acumula una experiancia de más de 20 años extraordinaria dirigiendo compañías de éxito mundial.</div>
                        </div>
                    </div>
                    <div class="cteam-bio">
                        <img class="imgteam" src="assets/img/prof2.png"/>
                        <div class="cbio">
                            <div class="ctitle-bio">
                                <div class="tname">Elena Semour</div>
                                <div class="tsubtitle">Selección</div>
                            </div>
                            <div class="tbio">Amplia experiencia en salud mental, se encarga organizar y seleccionar los servicios.</div>
                        </div>
                    </div>
                    <div class="cteam-bio">
                        <img class="imgteam"src="assets/img/prof3.png"/>
                        <div class="cbio">
                            <div class="ctitle-bio">
                                <div class="tname">Jesús Freire</div>
                                <div class="tsubtitle">Tecnología</div>
                            </div>
                            <div class="tbio">Experto en software con amplia experiencia en el campo tecnológico, sus múltiples premios internacionales corroboran su excelencia.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
