<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="home">
        <div class="home-sec3">
            <div class="cimg-3b">
                <div class="ctext3">
                    <div class="ttitle2">
                        Contacta con los mejores profesionales
                    </div>
                    <div class="tsubtitle2">
                        Conecta con cientos de profesionales que te ayudarán a llevar una vida
                        en plenitud con tu salud mental, busca y encuentra el profesional más
                        adecuado a tus necesidades y contacta de la forma prefieras.
                    </div>
                    <div class="buttonmain">
                        <div class="frame-62p">
                        <div class="tmainbuttonp">Empezar</div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="cimg-3a">
                <img class="imgbackeveryone" src="assets/img/backbest.svg" />
            </div>
        </div>
        <div class="home-sec2">
            <div class="cimg-2a">
                <img class="imgbackcreate" src="assets/img/backfind.svg" />
            </div>
            <div class="cimg-2b">
                <div class="ctext2">
                    <div class="ttitle2">
                        Encuentra al profesional que necesitas
                    </div>
                    <div class="tsubtitle2">
                        Busca entre cientos de profesionales y encuentra el que mejor se ajuste a tus necesidades.
                        <br/>
                        Filtra por localización, valoraciones positivas o especialidades y concerta una cita cuándo y dónde quieras en pocos minutos
                    </div>
                    <div class="buttonmain">
                        <div class="frame-62">
                        <div class="tmainbutton">Empezar</div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="home-sec3">
            <div class="cimg-3b">
                <div class="ctext3">
                    <div class="ttitle2">
                        Amplía tu cartera de clientes
                    </div>
                    <div class="tsubtitle2">
                        Si eres un profesional de la salud mental, puedes acceder a nuestros servicios que te ayudan a conectar con nuestros miles de usuarios.
                        <br />
                        Aumenta tus ingresos y date a conocer. 
                        <br />
                        Gestiona tu agenda de citas y edita tu perfil profesional de forma sencilla e intuitiva
                    </div>
                    <div class="buttonmain">
                        <div class="frame-62p">
                        <div class="tmainbuttonp">Empezar como Profesional</div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="cimg-3a">
                <img class="imgbackeveryone" src="assets/img/backpro.svg" />
            </div>
        </div>
    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>
</html>
<router-outlet></router-outlet>
