<div class="ctable" *ngIf="!isProfessional">
    <p-table #dt1 [value]="appointments" styleClass="p-datatable-striped" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {last} registros de un total de {totalRecords}"
    [rows]="5" [rowsPerPageOptions]="[5, 10, 30]" sortField="date" [sortOrder]="1" [rowHover]="true" [globalFilterFields]="['profName', 'state','date']"
    [tableStyle]="{ 'min-width': '20rem'}">
    
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        (input)="filterTable($event, dt1)" 
                        placeholder="Busca por Nombre o Estado" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="profName">
                    Profesional <p-sortIcon field="profName" />
                </th>
                <th pSortableColumn="date">
                    Fecha <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="start_time">
                    Hora Inicio <p-sortIcon field="start_time" />
                </th>
                <th pSortableColumn="end_time">
                    Hora Fin <p-sortIcon field="end_time" />
                </th>
                <th pSortableColumn="state">
                    Estado <p-sortIcon field="state" />
                </th>
                <th>Gestionar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr>
                <td><img [src]="appointment.imgProf" [alt]="appointment.profName" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                    {{ appointment.profName }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.start_time }}</td>
                <td>{{ appointment.end_time }}</td>
                <td><span [ngClass]="appointment.state" class="label">
                    {{ appointment.state }}
                </span>
                </td>
                <td><button class="button" id="outline" type="button" href="javascript:void(0)" (click)="openAppointmentModal(appointment)">Detalles</button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No se encontraron citas</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="ctable" *ngIf="isProfessional">
    <p-table #dt2 [value]="appointments" styleClass="p-datatable-striped" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {last} registros de un total de {totalRecords}"
    [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" sortField="date" sortMode="multiple" [sortOrder]="1" [rowHover]="true" [globalFilterFields]="['userName', 'state', 'date', 'start_time','price']"
    [tableStyle]="{ 'min-width': '20rem'}">
    
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        (input)="filterTable($event, dt2)" 
                        placeholder="Busca por palabra clave" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="userName">
                    Nombre <p-sortIcon field="userName" />
                </th>
                <th pSortableColumn="date">
                    Fecha <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="start_time">
                    Hora Inicio <p-sortIcon field="start_time" />
                </th>
                <th pSortableColumn="end_time">
                    Hora Fin <p-sortIcon field="end_time" />
                </th>
                <th pSortableColumn="price">
                    Precio <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="state">
                    Estado <p-sortIcon field="state" />
                </th>
                <th>Gestionar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr>
                <td><img [src]="appointment.imgUser" [alt]="appointment.profName" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                    {{ appointment.userName }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.start_time }}</td>
                <td>{{ appointment.end_time }}</td>
                <td>{{ appointment.price }}</td>
                <td><span [ngClass]="appointment.state" class="label">
                    {{ appointment.state }}
                </span>
                </td>
                <td><button class="button" id="outline" type="button" href="javascript:void(0)" (click)="openAppointmentModal(appointment)">Detalles</button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontraron citas</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Appointment Details Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModalLabel">Ver Detalle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="title mb-1">Id Cita:
                    <label id="id-label" class="subtitle">{{ selectedAppointment?.id }}</label>
                  </label>
                  <br>
                <label *ngIf="!isProfessional" class="title mb-1">Profesional:
                  <label class="subtitle">{{ selectedAppointment?.profName }}</label>
                </label>
                <label *ngIf="isProfessional" class="title mb-1">Nombre:
                    <label class="subtitle">{{ selectedAppointment?.userName }}</label>
                </label>
                <br>
                <label *ngIf="isProfessional" class="title mb-1">Email:
                    <label class="subtitle">{{ selectedAppointment?.userEmail }}</label>
                </label>
                <br *ngIf="isProfessional"/>
                <label class="title mb-1">Fecha:
                  <label class="subtitle">{{ selectedAppointment?.date }}</label>
                </label>
                <br>
                <label class="title mb-1">Hora Inicio:
                  <label class="subtitle">{{ selectedAppointment?.start_time }}</label>
                </label>
                <br>
                <label class="title mb-1">Hora Fin:
                  <label class="subtitle">{{ selectedAppointment?.end_time }}</label>
                </label>
                <br>
                <label class="title mb-1">Precio:
                  <label class="subtitle">{{ selectedAppointment?.price }}</label>
                </label>
                <br>
                <label class="title mb-2">Estado:
                  <label [ngClass]="selectedAppointment?.state" class="label">{{ selectedAppointment?.state }}</label>
                </label>
                <br>
                <div *ngIf="selectedAppointment?.state == 'Solicitada' && !isProfessional" class="alert alert-info" role="alert"> Espera la confirmación del profesional</div>
                <div *ngIf="selectedAppointment?.state == 'Solicitada' && isProfessional" class="alert alert-info" role="alert"> Confirma la cita solicitada</div>
                <div *ngIf="selectedAppointment?.state == 'Cancelada' && !isProfessional" class="alert alert-warning" role="alert"> El profesional puede enviarte un email para reorganizar la cita</div>
                <div *ngIf="selectedAppointment?.state == 'Cancelada' && isProfessional" class="alert alert-warning" role="alert"> Recuerda enviar un email al paciente para reorganizar la cita si procede</div>
                <div id="action">
                    <label *ngIf="selectedAppointment?.state != 'Cancelada'" class="title mb-1">
                        <div class="cancel-container">
                            <button class="button" id="cancel" (click)="cancelAppointment()">Cancelar</button>
                            <label class="subtitle">¡Acción irrevocable!</label>
                        </div>
                    </label>
                    <label>
                        <div *ngIf="isProfessional && selectedAppointment?.state == 'Solicitada'">
                        <button class="button" id="confirm" (click)="confirmAppointment()">Confirmar</button>
                    </div>
                    </label>
                </div>
                <div *ngIf="alertError" class="alert alert-danger" role="alert">
                    {{ alertError }}
                </div>
                <div *ngIf="alertSuccess" class="alert alert-success" role="alert">
                    {{ alertSuccess }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="outline" class="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="spinner-border" role="status"></div>
<div *ngIf="modalIsLoading" class="spinner-grow" role="status"></div>
