.contacto{
    background-color: var(--lightblue);
}
.cont-contacto{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}
.centered{
    display: flex;
    flex-direction: inherit;
    align-items: center;
    gap: 1vh;
}
form{
    width: 100%;
}
.ttitle{
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--brandgreen);
}
.subtitle{
    font-family: var(--subtitle-font-family);
    font-size: 1rem;
    font-weight: var(--subtitle-font-weight);
    color: black;
}
a{
    text-decoration: none;
}
button#main{
    font-family: "Spline Sans", sans-serif;
    border-radius: 1ch;
    padding: 8px 16px;
    position: relative;
    border-style: none;
    background-color: var(--brandgreen);
    color: white;
    font-size: 1rem;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: 0.5s;
    transform: translateY(-0.25em);
}