<head>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="contacto">
        <div class="cont-contacto">
            <div class="contact-form">
                <div class="ttile">Escríbenos un mensaje:</div>
                <div class="subtitle">Completa el formulario de contacto y te responderemos lo antes posible</div>
                <form class="contact-form">

                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
